<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.aaa.chain">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
  <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="getui.permission.GetuiService.org.aaa.chain"/>

  <permission
      android:name="getui.permission.GetuiService.org.aaa.chain"
      android:protectionLevel="normal"/>

  <application
      android:name=".ChainApplication"
      android:allowBackup="true"
      android:icon="${APP_ICON_VALUE}"
      android:label="${APP_LABEL_VALUE}"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="true">
    <activity
        android:name=".activity.MainActivity"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustUnspecified|stateHidden">
    </activity>

    <activity
        android:name=".activity.LoginActivity"/>

    <activity
        android:name=".activity.CreateSmallResumeActivity"
        android:configChanges="orientation|keyboardHidden"
        android:theme="@style/swipeBackTheme"
        android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
    <activity
        android:name=".activity.MyHomeDetailActivity"
        android:theme="@style/swipeBackTheme"
        android:windowSoftInputMode="adjustResize"/>
    <activity android:name=".activity.UpdateInfoActivity"/>
    <activity android:name=".activity.UploadResumeActivity"/>
    <activity android:name=".activity.ResumeDetailsActivity"/>
    <activity
        android:name=".activity.SplashActivity"
        android:label="@string/app_name1">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".activity.ResourceManagementActivity"
        android:windowSoftInputMode="adjustResize|stateHidden"/>

    <meta-data
        android:name="PUSH_APPID"
        android:value="${GETUI_APP_ID}"/>
    <meta-data
        android:name="PUSH_APPKEY"
        android:value="${GETUI_APP_KEY}"/>
    <meta-data
        android:name="PUSH_APPSECRET"
        android:value="${GETUI_APP_SECRET}"/>

    <!-- 配置SDK核心服务 -->
    <service
        android:name="com.igexin.sdk.PushService"
        android:exported="true"
        android:label="NotificationCenter"
        android:process=":pushservice">
      <intent-filter>
        <action android:name="com.igexin.sdk.action.service.message"/>
      </intent-filter>
    </service>

    <receiver
        android:name="com.igexin.sdk.PushReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
        <action android:name="android.intent.action.USER_PRESENT"/>
        <action android:name="com.igexin.sdk.action.refreshls"/>
        <action android:name="android.intent.action.MEDIA_MOUNTED"/>
        <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
      </intent-filter>
    </receiver>

    <!-- 用户自定义服务继承自GTIntentService,作为SDK与APP桥梁服务,用来接收各种消息和命令回复-->
    <service android:name="org.aaa.chain.utils.GeTuiIntentService"/>

    <!-- 用户自定义服务名 -->
    <service
        android:name="org.aaa.chain.utils.GeTuiPushService"
        android:exported="true"
        android:label="PushService"
        android:process=":pushservice">
    </service>
  </application>

</manifest>